.carousel {
  padding: 2rem 0;
}

.carousel .carousel {
  position: relative;
  margin-bottom: -4rem;
}
.carousel img {
  height: 90vh;
  object-fit: cover;
}

.thumbs-wrapper, .carousel-status {
  display: none;
}


